[Desktop Entry]
Name=Legion RGB
Comment=Control the RGB keyboard lighting of Lenovo Legion laptops
Exec=legion-kb-gui
Icon=com.github.hugh.LegionKbRgb
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
Keywords=keyboard;rgb;lighting;legion;
StartupNotify=true
